src/main/mule/developer-portal-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:title-process-automation-api="http://www.mulesoft.org/schema/mule/title-process-automation-api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/title-process-automation-api http://www.mulesoft.org/schema/mule/title-process-automation-api/current/mule-title-process-automation-api.xsd http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
    <http:listener-config name="developer-portal-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="developer-portal-api-config" api="developer-portal-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <anypoint-mq:config name="Anypoint_MQ_Config" doc:name="Anypoint MQ Config" doc:id="6d708613-f6cf-46f7-bb6c-0e0af3fadf4b">
        <anypoint-mq:connection clientId="${mq.client_id}" clientSecret="${mq.client_secret}" url="${mq.url}"/>
    </anypoint-mq:config>
    <title-process-automation-api:config name="Title_Process_Automation_API_Config" doc:name="Title Process Automation API Config" doc:id="ccddce5a-d6f6-4353-a60d-6b2262f79a17" property_host="${api.workflow_automation_papi_endpoint_host}" property_port="80" property_protocol="HTTP" property_basePath="/api" />
    <configuration-properties doc:name="Configuration properties" doc:id="0ab4a130-3888-4d69-a6aa-b9a3d093260c" file="config.yaml" />
	<flow name="developer-portal-api-main">
        <http:listener config-ref="developer-portal-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="developer-portal-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="developer-portal-api-console">
        <http:listener config-ref="developer-portal-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="developer-portal-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\record\retrieve:developer-portal-api-config">
        <logger level="INFO" message="get:\record\retrieve:developer-portal-api-config" />
        <title-process-automation-api:get-retrieves doc:name="Get retrieves" doc:id="7e41695e-b585-4b11-a10d-1a1f001fbb02" config-ref="Title_Process_Automation_API_Config" />
        <ee:transform doc:name="Transform Message" doc:id="51d227da-b2d9-4d52-b0bc-044898d31b01">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (o,i)->
{
    "name": o.Name,
    "title_id": o.Title_ID__c,
    "release_date": o.Release_Date__c,
    "platform": o.Platform__c,
    "publishers": o.Publishers__c,
    "developers": o.Developers__c,
    "status": o.Status__c,
    "jira_id": o.Jira_ID__c
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\record\create:application\json:developer-portal-api-config">
        <logger level="INFO" message="post:\record\create:application\json:developer-portal-api-config" />
        <anypoint-mq:publish doc:name="Publish" doc:id="0ede7eb0-0646-43ad-8c8a-56d8813f80b7" config-ref="Anypoint_MQ_Config" destination="title-create-queue" />
        <ee:transform doc:name="Transform Message" doc:id="5b945c6d-7405-4954-9b4b-3ce41c38b70f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
'Title create request is queued successfully!']]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\record\update:application\json:developer-portal-api-config">
        <logger level="INFO" message="post:\record\update:application\json:developer-portal-api-config" />
        <anypoint-mq:publish doc:name="Publish" doc:id="cdcb6a12-79b0-47b8-bfa6-c1a0023146b6" config-ref="Anypoint_MQ_Config" destination="title-update-queue" />
        <ee:transform doc:name="Transform Message" doc:id="62bcffc5-f90c-41af-986f-88b131ce41d4">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
'Title update request is queued successfully!']]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\record\retrieve\(ID):developer-portal-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="ID">attributes.uriParams.'ID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <title-process-automation-api:get-retrieve-by-id doc:name="Get retrieve by id" doc:id="b01ef2e8-7ae6-42ad-b0c1-884307d3f2a1" config-ref="Title_Process_Automation_API_Config" id="#[vars.ID]" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{

    name: payload.Name,
    title_id: payload.Title_ID__c,
    release_date: payload.Release_Date__c,
    platform: payload.Platform__c,
    publishers: payload.Publishers__c,
    developers: payload.Developers__c,
    status: payload.Status__c,
    jira_id: payload.Jira_ID__c
  
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
